In [2]:
import os
import pathlib
import pandas as pd

In [3]:
core_path = os.getcwd()
asteroids_df = pd.read_pickle(os.path.join(core_path, "data/lvl1/", "asteroids_merged.pk1"))
asteroids_df.head()

,Name,Bus Class,DesNr,FilePath,SpectrumDF
0,1 Ceres,C,1,e:\Projects\Asteroid_Spectra_Project\data/lvl0...,Wavelength_in_micron Reflectance_norm550n...
1,2 Pallas,B,2,e:\Projects\Asteroid_Spectra_Project\data/lvl0...,Wavelength_in_micron Reflectance_norm550n...
2,3 Juno,Sk,3,e:\Projects\Asteroid_Spectra_Project\data/lvl0...,Wavelength_in_micron Reflectance_norm550n...
3,4 Vesta,V,4,e:\Projects\Asteroid_Spectra_Project\data/lvl0...,Wavelength_in_micron Reflectance_norm550n...
4,5 Astraea,S,5,e:\Projects\Asteroid_Spectra_Project\data/lvl0...,Wavelength_in_micron Reflectance_norm550n...

In [4]:
# Create a dictionary that maps the Bus CLassfication with the main group

bus_to_main_dict = {
                    'A': 'Other',
                    'B': 'C',
                    'C': 'C',
                    'Cb': 'C',
                    'Cg': 'C',
                    'Cgh': 'C',
                    'Ch': 'C',
                    'D': 'Other',
                    'K': 'Other',
                    'L': 'Other',
                    'Ld': 'Other',
                    'O': 'Other',
                    'R': 'Other',
                    'S': 'S',
                    'Sa': 'S',
                    'Sk': 'S',
                    'Sl': 'S',
                    'Sq': 'S',
                    'Sr': 'S',
                    'T': 'Other',
                    'V': 'Other',
                    'X': 'X',
                    'Xc': 'X',
                    'Xe': 'X',
                    'Xk': 'X'
                   }

In [5]:
asteroids_df.loc[:, "Main Group"] = asteroids_df["Bus Class"].apply(lambda x: bus_to_main_dict.get(x, "None"))

In [6]:
# dropping the DesNr and FilePath columns

asteroids_df.drop(columns=["DesNr", "FilePath"], inplace=True)

In [17]:
asteroids_df[-8:]

,Name,Bus Class,SpectrumDF,Main Group
1331,1995 BM2,Sq,Wavelength_in_micron Reflectance_norm550n...,S
1332,1995 WQ5,Ch,Wavelength_in_micron Reflectance_norm550n...,C
1333,1996 PW,Ld,Wavelength_in_micron Reflectance_norm550n...,Other
1334,1996 UK,Sq,Wavelength_in_micron Reflectance_norm550n...,S
1335,1996 VC,S,Wavelength_in_micron Reflectance_norm550n...,S
1336,1997 CZ5,S,Wavelength_in_micron Reflectance_norm550n...,S
1337,1997 RD1,Sq,Wavelength_in_micron Reflectance_norm550n...,S
1338,1998 WS,Sr,Wavelength_in_micron Reflectance_norm550n...,S

In [19]:
asteroids_df.loc[asteroids_df["Name"] == "1995 WQ5"]["SpectrumDF"][1332]

    Wavelength_in_micron  Reflectance_norm550nm
0                   0.44                 0.9788
1                   0.45                 0.9817
2                   0.46                 0.9845
3                   0.47                 0.9872
4                   0.48                 0.9899
5                   0.49                 0.9925
6                   0.50                 0.9952
7                   0.51                 0.9978
8                   0.52                 0.9999
9                   0.53                 1.0011
10                  0.54                 1.0011
11                  0.55                 1.0000
12                  0.56                 0.9983
13                  0.57                 0.9962
14                  0.58                 0.9938
15                  0.59                 0.9909
16                  0.60                 0.9874
17                  0.61                 0.9833
18                  0.62                 0.9787
19                  0.63                 0.9743
20                  0.64                 0.9706
21                  0.65                 0.9684
22                  0.66                 0.9681
23                  0.67                 0.9686
24                  0.68                 0.9674
25                  0.69                 0.9642
26                  0.70                 0.9607
27                  0.71                 0.9577
28                  0.72                 0.9562
29                  0.73                 0.9567
30                  0.74                 0.9596
31                  0.75                 0.9642
32                  0.76                 0.9694
33                  0.77                 0.9735
34                  0.78                 0.9752
35                  0.79                 0.9751
36                  0.80                 0.9737
37                  0.81                 0.9717
38                  0.82                 0.9703
39                  0.83                 0.9695
40                  0.84                 0.9679
41                  0.85                 0.9649
42                  0.86                 0.9601
43                  0.87                 0.9540
44                  0.88                 0.9474
45                  0.89                 0.9407
46                  0.90                 0.9340
47                  0.91                 0.9273
48                  0.92                 0.9206

In [9]:
pathlib.Path(os.path.join(core_path, "data/lvl2")).mkdir(parents=True, exist_ok=True)
asteroids_df.to_pickle(os.path.join(core_path, "data/lvl2/", "asteroids.pkl"), protocol=4)